<!-- footer -->
<footer>

    <div id="copyright">
        <span><i class="far fa-copyright"></i> Coding Ninjas. All Rights Reserved</span>
    </div>

    <div id="links">
        <p><a href="/">Home</a></p>
        <p><a href="/users/profile">Profile</a></p>
    </div>

</footer>