
<h1>Codeial / <%= title %></h1>

<!-- <div>
    <form action="/users/profile" method="get">

       
        <label for="">User Name : </label>
        <input type="text" name="userName">
      
        <label for="">Password: </label>
        <input type="text" name="password">

        <button type="submit">Log In</button>
        
    </form>

    <a href=""><button>Register</button></a>
</div> -->